<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              <a href="/">{{ site.author | escape }}</a>
            {% else %}
              <a href="/">{{ site.title | escape }}</a>
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <p class="rss-subscribe">Feed <a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <div class="m-friend-links clearfix">
      <div class="l-name">
        Friend links
      </div>
      <div class="l-links">
        <a target="_blank" href="http://www.5188.org">5188 org</a>
        <a target="_blank" href="http://www.ku800.com">Ku800</a>
        <a target="_blank" href="http://www.dev800.com">Dev800</a>
        <a target="_blank" href="http://www.blogsoso.com">Blog SOSO</a>
        <a target="_blank" href="http://www.worthwhy.com">Worth Why</a>
        <a target="_blank" href="http://www.whyworth.com">Why Worth</a>
        <a target="_blank" href="http://www.uusoso.com">UU SOSO</a>
        <a target="_blank" href="http://www.relaxnote.com">Relax Note</a>
      </div>
    </div>
  </div>
</footer>
